@(message: String, id: Long, $entity;format="lower"$Form: Form[$entity;format="word"$])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@scripts = {
}

@main(message, scripts) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

@form(routes.$entity;format="word"$s.update(id), 'class -> "form-horizontal") {

@inputText($entity;format="lower"$Form("name"), '_label -> "Nom")
@inputText($entity;format="lower"$Form("description"), '_label -> "Description")

<div class="form-actions">
    <input type="submit" value="Save this $entity;format="lower"$" class="btn btn-primary"> or
    <a href="@routes.$entity;format="word"$s.view(id)" class="btn">View</a> or
    <a href="@routes.$entity;format="word"$s.list()" class="btn">Cancel</a>
    <a href="@routes.$entity;format="word"$s.create()" class="btn">New</a>
</div>

}
}